<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edicion Proveedor</title>
</head>
<body>
    <h1>Proveedor</h1>
    <p>{{actualizarProveedor.id}}</p>

    <table id="tabla-principal">
        <tr>
            <th text-align: center>Nombre</th>
            <th>Apellido</th>
            <th>Dni</th>
        </tr>
        <tr>
                <td>{{actualizarProveedor.nombre_Prov}}</td>
                <td>{{actualizarProveedor.apellido_Prov}}</td>
                <td>{{actualizarProveedor.dni_Prov}}</td>
        </tr>
    </table>
    <br>
    <a href="/compras/proveedores/crear/">
        <input type="button" action="crear"  value="Confirmar"/>
    </a>
    <a href="/compras/proveedores/lista">
        <input type="button" value="Cancelar" />
    </a>
</body>
</html>

<style>
    th {
        text-align: center;
    }

</style>