<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Proveedor</title>
</head>
<h1>Nuevo Proveedor</h1>

<form action="crear/">
    <label for="fname">Nombre:</label><br>
    <input type="text" id="nombre" name="inputNombre" value="Jhon"><br>
    <label for="lname">Apellido:</label><br>
    <input type="text" id="apellido" name="inputApellido" value="Perez"><br>
    <label for="lname">Dni:</label><br>
    <input type="number" id="dni" name="inputDni" value="123456789"><br>

    <br>
    <input type="submit" value="Agregar">
    <br>
    <br>
    <a href="/compras/proveedores/crear/">
        <input type="button" action="crear"  value="Agregar 2" />
    </a>
    <br>
    <br>
    <a href="/compras/proveedores/lista">
        <input type="button" value="Cancelar" />
    </a>

</form>


</html>