<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Productos</title>
</head>
<body>
    <h1>Proveedores
        <h3>
            <a href="agregar">
                <input type="button" value="Agregar Producto" />
            </a>
        </h3>
    </h1>

    <table id="tabla-principal">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dni</th>
            <th></th>
            <th></th>
        </tr>
        {% for proveedor in listaProveedor %}
        <tr>
            
                <td>{{proveedor.nombre_Prov}}</td>
                <td>{{proveedor.apellido_Prov}}</td>
                <td>{{proveedor.dni_Prov}}</td>
                <td>
                    <a href="actualizar/{{proveedor.id}}">
                        <input type="button" value="Editar" />
                    </a>
                </td>
                <td>
                    <a href="borrar/{{proveedor.id}}">
                        <input type="button" value="Eliminar" />
                    </a>
                </td>
        </tr>
        {% endfor %}
    </table>
    

</body>
</html>